<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2 th:text="${consulta.idConsulta} == null ? 'Nova Consulta' : 'Editar Consulta'"></h2>

<form th:action="@{/consultas/novaconsulta}" th:object="${consulta}" method="post">

    <input type="hidden" th:field="*{idConsulta}">

    <label>Data:</label>
    <input type="datetime-local" th:field="*{data}" required>

    <label>Animal:</label>
    <select th:field="*{animal}">
        <option th:each="a : ${animais}" th:value="${a}" th:text="${a.nome}"></option>
    </select>

    <label>Veterinário:</label>
    <select th:field="*{veterinario}">
        <option th:each="v : ${veterinarios}" th:value="${v}" th:text="${v.nome}"></option>
    </select>

    <button class="botao">Salvar</button>
</form>

</html>