<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2 th:text="${cliente.idCliente} == null ? 'Novo Cliente' : 'Editar Cliente'"></h2>

<form th:action="@{/clientes/novocliente}" th:object="${cliente}" method="post">

    <input type="hidden" th:field="*{idCliente}">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required>

    <label>Telefone:</label>
    <input type="text" th:field="*{telefone}" required>

    <button class="botao">Salvar</button>
</form>

</html>