<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2 th:text="${animal.idAnimal} == null ? 'Novo Animal' : 'Editar Animal'"></h2>

<form th:action="@{/animais/novoanimal}" th:object="${animal}" method="post">

    <input type="hidden" th:field="*{idAnimal}">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required>

    <label>Espécie:</label>
    <input type="text" th:field="*{especie}" required>

    <label>Idade:</label>
    <input type="number" th:field="*{idade}" required>

    <button type="submit" class="botao">Salvar</button>
</form>

</html>