<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Clínica Veterinária</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<header class="topo">
    <h1>Clínica Veterinária</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/animais">Animais</a>
        <a href="/clientes">Clientes</a>
        <a href="/consultas">Consultas</a>
        <a href="/veterinarios">Veterinários</a>
    </nav>
</header>

<div class="conteudo">