<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2>Clientes</h2>

<a href="/clientes/novocliente" class="botao">Novo Cliente</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="cliente : ${clientes}">
        <td th:text="${cliente.idCliente}"></td>
        <td th:text="${cliente.nome}"></td>
        <td th:text="${cliente.telefone}"></td>

        <td>
            <a th:href="@{'/clientes/editarcliente/' + ${cliente.idCliente}}">Editar</a> |
            <a th:href="@{'/clientes/deletarcliente/' + ${cliente.idCliente}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

</html>