<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2>Consultas</h2>

<a href="/consultas/novaconsulta" class="botao">Nova Consulta</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Data</th>
        <th>Animal</th>
        <th>Veterinário</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="consulta : ${consultas}">
        <td th:text="${consulta.idConsulta}"></td>
        <td th:text="${consulta.data}"></td>
        <td th:text="${consulta.animal.nome}"></td>
        <td th:text="${consulta.veterinario.nome}"></td>

        <td>
            <a th:href="@{'/consultas/editarconsulta/' + ${consulta.idConsulta}}">Editar</a> |
            <a th:href="@{'/consultas/deletarconsulta/' + ${consulta.idConsulta}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

</html>