<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2 th:text="${veterinario.idVeterinario} == null ? 'Novo Veterinário' : 'Editar Veterinário'"></h2>

<form th:action="@{/veterinarios/novoveterinario}" th:object="${veterinario}" method="post">

    <input type="hidden" th:field="*{idVeterinario}">

    <label>Nome:</label>
    <input type="text" th:field="*{nome}" required>

    <label>Especialidade:</label>
    <input type="text" th:field="*{especialidade}" required>

    <button class="botao">Salvar</button>
</form>

</html>