<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="fragments/header :: header"></th:block>

<h2>Veterinários</h2>

<a href="/veterinarios/novoveterinario" class="botao">Novo Veterinário</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Especialidade</th>
        <th>Ações</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="v : ${veterinarios}">
        <td th:text="${v.idVeterinario}"></td>
        <td th:text="${v.nome}"></td>
        <td th:text="${v.especialidade}"></td>

        <td>
            <a th:href="@{'/veterinarios/editarveterinario/' + ${v.idVeterinario}}">Editar</a> |
            <a th:href="@{'/veterinarios/deletarveterinario/' + ${v.idVeterinario}}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>

</html>